*{
    margin: 0;
    padding: 0;
    background-color: black;
}
.main{
    width: 100%;
    background-color: black;
}
.navbar{
    width: 100%;
    height: 10vh;
    /* border: 1px solid black; */
    display: flex;
    position: fixed;
    top: 0;
    background-color: black;
    

}
.logopart{
    width: 13%;
    height: 100%;
    
    background-image: url("logo1.png");
    background-size: 170px;
    background-repeat: no-repeat;  
    background-position: 0 -30px;  
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    
             
    
}

.othercont{
    width: 87%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0;
    color: white;
}
.others{
    width: 100px;
    height: 40px;
    border: 1px solid orange;
    margin-right: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 17px;

}
.others i{
    font-size: 20px;
    font-weight: 600;
}
.others:hover{
    box-shadow: 0 0 2px 2px rgb(255, 165, 0,0.5);
}
.others:active{
    box-shadow: none;
}

.heropart{
    height: 70vh;
    /* border: 1px solid black; */
    display: flex;
    margin-top: 70px;
   
    
}
.heroimg{
    height: 100%;
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.heroimg img{
    /* border: 1px solid black; */
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgb(255, 255,255,0.5);
    background-image: linear-gradient(to right,#2280ae,#4545c9);
    
    
}
.heroimg img:hover{
    height: 410px;
}
.about{
    height: 100%;
    width: 50%;
    /* border: 1px solid black; */
    
}
.title h1{
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    text-align: center;
    margin-top: 80px;
    font-size: 50px;
    color: hwb(218 8% 32%);
    text-shadow: 3px 3px 3px rgb(255, 255, 255,0.5);


}
.thought{
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    padding: 20px;
    padding-top: 40px;
}
#importance{

    
      margin-top: 30px;
   
    width: 40%;
    height: 45px;
    border-radius: 5px ;
    background-color: hsl(218, 88%, 39%);
    color: white;
    justify-self: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 2px 2px rgb(246, 246, 246,0.5);


}

.defence{
    height: 60vh;
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 40px;
    display: flex;
    
}
.about1{
    width: 60%;
    height: 100%;
    /* border: 1px solid black; */
    padding-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.about1 ul{
    line-height: 40px;
    list-style: none;
    
}
.about1 ul li{
    font-size: 30px;
    padding-top: 10px;
    color: white;
}
li::marker{
    content:"=> ";


}
.img1{
    height: 100%;
    width: 40%;
    /* border: 1px solid black; */

    background-image: url("https://robosap.in/wp-content/uploads/2024/03/drone.png");
    background-size: cover;
    background-position: 0 -25px;
    border-radius: 25px;
}



